<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoRIFD_final.Properties.Settings.RIFDConnectionString"
            connectionString="Data Source=DESKTOP-368AM7B\SQLEXPRESS;Initial Catalog=RIFD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoRIFD_final.Properties.Settings.db_RIFD_ProyectConnectionString"
            connectionString="Data Source=DESKTOP-368AM7B\SQLEXPRESS;Initial Catalog=db_RIFD_Proyect;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>